._src_js_components_misc_css__especial{
	color:#FFFFFF;
	
}
._src_js_components_misc_css__especial:hover{
	color:#424242;
}
._src_js_components_misc_css__especial_e{
	color:#c62e2e;
}
._src_js_components_misc_css__especidfal{
	color:aqua;
	
}